<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		[% IF fullName.length %]
        <title>[% fullName | html %]</title>
        [% END %]
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				[% IF fullName.length %]<h1>[% fullName | html %]</h1>[% END %]
				[% IF tagLine.length %]<p>[% tagLine | html %]</p>[% END %]
			</header>

		<!-- More Stuff> -->
			[% IF aboutTitle.length %]<h2>[% aboutTitle | html %]</h2>[% END %]
			[% IF aboutBlurb.length %]<p>[% aboutBlurb | html %]</p>[% END %]
			

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
				[% IF emailAddress.length OR linkedinLink.length OR twitterLink.length OR facebookLink.length OR instagramLink.length %]
					<ul class="icons">
						[% IF twitterLink.length %]<li><a href="[% twitterLink | url %]" class="icon fa-twitter"><span class="label">Twitter</span></a></li>[% END %]
						[% IF facebookLink.length %]<li><a href="[% facebookLink | url %]" class="icon fa-facebook"><span class="label">Facebook</span></a></li>[% END %]
						[% IF linkedinLink.length %]<li><a href="[% linkedinLink | url %]" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>[% END %]
						[% IF instagramLink.length %]<li><a href="[% instagramLink | url %]" class="icon fa-instagram"><span class="label">Instagram</span></a></li>[% END %]
						[% IF emailAddress.length %]<li><a href="mailto:[% emailAddress | uri %]" class="icon fa-envelope-o"><span class="label">Email</span></a></li>[% END %]
					</ul>
				[% END %]
				
				<ul class="copyright">
					[% IF fullName.length %]<li>&copy;  [% fullName | html %].</li>[% END %]
					<li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

		[% IF google_analytics_key.length %]
                <script type="text/javascript">

                  var _gaq = _gaq || [];
                  _gaq.push(['_setAccount', '[% google_analytics_key | html %]']);
                  _gaq.push(['_trackPageview']);

                  (function() {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                  })();

                </script>
            [% END %]
	</body>
</html>
