<!DOCTYPE html>
<html lang="en">

<head>
    [% IF organizationName.length %]<title>[% organizationName | html %]</title>[% END %]

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='assets/css/custom.css' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            [% IF organizationName.length %]<h2>[% organizationName | html %]</h2>[% END %]
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF contactName.length %]<h3>[% contactName | html %]</h3>[% END %]
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>
                [% IF addr.length %][% addr | html %] <br />[% END %]
                [% IF city.length %][% city | html %] <br />[% END %]
                [% IF state.length %][% state | html %] <br />[% END %]
                [% IF zip.length %][% zip | html %] <br />[% END %]
            </h4><br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
                [% IF service1.length %]<p>[% service1 | html %]</p>[% END %]
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF service2.length %]<p>[% service2 | html %]</p>[% END %]
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF service3.length %]<p>[% service3 | html %]</p>[% END %]
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF service4.length %]<p>[% service4 | html %]</p>[% END %]
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF service5.length %]<p>[% service5 | html %]</p>[% END %]
                <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF email.length %]<p>[% email | html %]</p>[% END %]
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            [% IF phone.length %]<p>[% phone | html %]</p>[% END %]
        </div>
    </div>
</div>
</body>
</html>