<!DOCTYPE html>
<html lang="en">

<head>
    [% IF organizationName.length %]<title>[% organizationName | html %]</title>[% END %]

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='assets/css/custom.css' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="col-xs-12">
            [% IF organizationName.length %]<h1>[% organizationName | html %]</h1>[% END %]
        </div>
        <div class="col-xs-6">
            [% IF contactName.length %]<h4>[% contactName | html %]</h4>[% END %]
        </div>
        <div class="col-xs-6">
            [% IF email.length %]<h4>[% email | html %]</h4>[% END %]
            [% IF phone.length %]<h4>[% phone | html %]</h4>[% END %]
        </div>
        <div class="col-xs-12">
        <h4>
            [% IF addr.length %][% addr | html %][% END %]
            [% IF city.length %][% city | html %][% END %],
            [% IF state.length %][% state | html %][% END %],
            [% IF zip.length %][% zip | html %][% END %]
        </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3> <U> Join us at the following times: </U> </h3>

            [% IF service1.length %]<p>[% service1 | html %]</p>[% END %]
                <br />
            [% IF service2.length %]<p>[% service2 | html %]</p>[% END %]
                <br />
            [% IF service3.length %]<p>[% service3 | html %]</p>[% END %]
                <br />
            [% IF service4.length %]<p>[% service4 | html %]</p>[% END %]
                <br />
            [% IF service5.length %]<p>[% service5 | html %]</p>[% END %]
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
        </div>
    </div>

</div>
</body>
</html>