body {
    background: url('../../assets/img/splash9.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:white;
}
